In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
# Don't forget to add the current directory to pythonpath before loading the package
# $ export PYTHONPATH=$PYTHONPATH:$(pwd)
# & jupyter notebook
from aphp import load

In [4]:
load.load_raw_patients().tail()

,patient_id,given_name,surname,street_number,address_1,suburb,postcode,state,date_of_birth,age,phone_number,address_2
19995,368617,abby,None,19.0,john cleland crescent,boyne island,2290,nsw,19570210.0,NaN,02 92489054,glenmore
19996,796658,dale,priest,19.0,bellchambers crescent,hoppers crossing,3033,wa,19590619.0,31.0,07 20549476,None
19997,511885,alessia,mawlai,4.0,miller street,smithfield,3616,tas,NaN,26.0,03 83466737,None
19998,985932,hannah,mason,1.0,halligan place,beaumaris,2443,wa,19140304.0,25.0,04 41125514,None
19999,925217,jack,mcveigh,5.0,alinda place,thornlands,4350,nsw,19230521.0,26.0,07 52535106,None

In [5]:
load.load_raw_tests().tail()

      patient_id       pcr
8795      249457         N
8796      279689  Positive
8797      975612         N
8798      884429  Positive
8799      272409  Negative